body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 5%;
}
.half-width h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
.half-width span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    background:linear-gradient(50deg, rgb(245, 165, 18),rgb(255, 123, 0));
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* second-section */

.top-banners {
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 14%;
    height: 696px;
}
.half-width .head-drop{
    text-transform: capitalize;
}

/* section-experiences */
.experience-banner {
    background-image: url(./images/exp-bg.png);
    background-position: center left;
    height: 427px;
    background-repeat: no-repeat;
}
.head-tag{
    font-size: 40px;
    font-weight: 400;
}
.main-box {
    width: 80%;
    padding: 20px 30px;
    height: 300px;
    box-shadow: 2px 2px 4px 2px #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}
#border-main{
   
        border-left: 7px solid;
        border-image:linear-gradient(180deg, rgb(124, 255, 37),rgb(255, 126, 5));
        border-image-slice: 1;
        
}
#border-main2{
   
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(102, 37, 255),rgb(255, 5, 193));
    border-image-slice: 1;
    
}
footer {
    margin-top: 159px;
    text-align: center;
    background: #000;
    padding: 4px;
    color: #fff;
}